.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: grid;  /*assigned a grid layout to make it look better*/
  /*flex-direction: column;*/  /*Took out flex direction so it didn't stack on top of eachother*/
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*simple fiexes to put displays into a proper layout more befitting the image */
.player{
  grid-row: 2;
}
.top
{
  grid-column: 2;
  grid-row: 1;
}